services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    ports:
      - 3000:3000
    volumes:
      - type: bind
        source: ${HOMEPAGE_FILE_CONFIG}/homepage_data
        target: /app/config
      - type: bind
        source: ${HOMEPAGE_FILE_CONFIG}/images
        target: /app/public/images
      - /var/run/docker.sock:/var/run/docker.sock:ro # optional
    environment:
      PUID: ${PUID}
      PGID: ${PGID}

      HOMEPAGE_ALLOWED_HOSTS: '*'

      HOMEPAGE_VAR_OPENWEATHER_LAT: ${OPENWEATHER_LAT}
      HOMEPAGE_VAR_OPENWEATHER_LON: ${OPENWEATHER_LON}
      HOMEPAGE_VAR_OPENWEATHER_API_KEY: ${OPENWEATHER_API_KEY}

      HOMEPAGE_VAR_SONARR_KEY: ${SONARR_KEY}
      HOMEPAGE_VAR_RADARR_KEY: ${RADARR_KEY}
      HOMEPAGE_VAR_PROWLARR_KEY: ${PROWLARR_KEY}
      HOMEPAGE_VAR_BAZARR_KEY: ${BAZARR_KEY}

      HOMEPAGE_VAR_PLEX_HOST: ${SERVER_HOST}:32400
      HOMEPAGE_VAR_JELLYFIN_HOST: ${SERVER_HOST}:8096
      HOMEPAGE_VAR_SEANIME_HOST: ${SERVER_HOST}:3211
      HOMEPAGE_VAR_JELLYSEERR_HOST: ${SERVER_HOST}:5055
      HOMEPAGE_VAR_SONARR_HOST: ${SERVER_HOST}:8989
      HOMEPAGE_VAR_RADARR_HOST: ${SERVER_HOST}:7878
      HOMEPAGE_VAR_PROWLARR_HOST: ${SERVER_HOST}:9696
      HOMEPAGE_VAR_BAZARR_HOST: ${SERVER_HOST}:6767
      HOMEPAGE_VAR_QBITTORRENT_HOST: ${SERVER_HOST}:8080
      HOMEPAGE_VAR_PORTAINER_HOST: ${SSL_SERVER_HOST}:9443

      HOMEPAGE_VAR_QBITTORRENT_PASS: ${QBITTORRENT_PASS}
    restart: unless-stopped
