services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    ports:
      - 3000:3000
    volumes:
      - type: bind
        source: ${HOMEPAGE_FILE_CONFIG}/homepage_data
        target: /app/config
      - type: bind
        source: ${HOMEPAGE_FILE_CONFIG}/images
        target: /app/public/images
      - /var/run/docker.sock:/var/run/docker.sock # optional
    environment:
      PUID: ${PUID}
      PGID: ${PGID}

      HOMEPAGE_VAR_OPENWEATHER_LAT: ${HOMEPAGE_VAR_OPENWEATHER_LAT}
      HOMEPAGE_VAR_OPENWEATHER_LON: ${HOMEPAGE_VAR_OPENWEATHER_LON}
      HOMEPAGE_VAR_OPENWEATHER_API_KEY: ${HOMEPAGE_VAR_OPENWEATHER_API_KEY}

      HOMEPAGE_VAR_TAUTULLI_KEY: ${HOMEPAGE_VAR_TAUTULLI_KEY}
      HOMEPAGE_VAR_SONARR_KEY: ${HOMEPAGE_VAR_SONARR_KEY}
      HOMEPAGE_VAR_RADARR_KEY: ${HOMEPAGE_VAR_RADARR_KEY}
      HOMEPAGE_VAR_READARR_KEY: ${HOMEPAGE_VAR_READARR_KEY}
      HOMEPAGE_VAR_PROWLARR_KEY: ${HOMEPAGE_VAR_PROWLARR_KEY}
      HOMEPAGE_VAR_BAZARR_KEY: ${HOMEPAGE_VAR_BAZARR_KEY}

      HOMEPAGE_VAR_PLEX_HOST: ${HOMEPAGE_VAR_SERVER_HOST}:${HOMEPAGE_VAR_PLEX_PORT}
      HOMEPAGE_VAR_EMBY_HOST: ${HOMEPAGE_VAR_SERVER_HOST}:${HOMEPAGE_VAR_EMBY_PORT}
      HOMEPAGE_VAR_JELLYSEERR_HOST: ${HOMEPAGE_VAR_SERVER_HOST}:${HOMEPAGE_VAR_JELLYSEERR_PORT}
      HOMEPAGE_VAR_TAUTULLI_HOST: ${HOMEPAGE_VAR_SERVER_HOST}:${HOMEPAGE_VAR_TAUTULLI_PORT}
      HOMEPAGE_VAR_SONARR_HOST: ${HOMEPAGE_VAR_SERVER_HOST}:${HOMEPAGE_VAR_SONARR_PORT}
      HOMEPAGE_VAR_RADARR_HOST: ${HOMEPAGE_VAR_SERVER_HOST}:${HOMEPAGE_VAR_RADARR_PORT}
      HOMEPAGE_VAR_READARR_HOST: ${HOMEPAGE_VAR_SERVER_HOST}:${HOMEPAGE_VAR_READARR_PORT}
      HOMEPAGE_VAR_PROWLARR_HOST: ${HOMEPAGE_VAR_SERVER_HOST}:${HOMEPAGE_VAR_PROWLARR_PORT}
      HOMEPAGE_VAR_BAZARR_HOST: ${HOMEPAGE_VAR_SERVER_HOST}:${HOMEPAGE_VAR_BAZARR_PORT}
      HOMEPAGE_VAR_QBITTORRENT_HOST: ${HOMEPAGE_VAR_SERVER_HOST}:${HOMEPAGE_VAR_QBITTORRENT_PORT}
      HOMEPAGE_VAR_WALLOS_HOST: ${HOMEPAGE_VAR_SERVER_HOST}:${HOMEPAGE_VAR_WALLOS_PORT}
    restart: unless-stopped
