services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    ports:
      - 3000:3000
    volumes:
      - type: bind
        source: ${HOMEPAGE_FILE_CONFIG}/homepage_data
        target: /app/config
      - type: bind
        source: ${HOMEPAGE_FILE_CONFIG}/images
        target: /app/public/images
      - /var/run/docker.sock:/var/run/docker.sock # optional
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      HOMEPAGE_VAR_OPENWEATHER_API_KEY: ${HOMEPAGE_VAR_OPENWEATHER_API_KEY}
      HOMEPAGE_VAR_OPENWEATHER_LAT: ${HOMEPAGE_VAR_OPENWEATHER_LAT}
      HOMEPAGE_VAR_OPENWEATHER_LON: ${HOMEPAGE_VAR_OPENWEATHER_LON}
      HOMEPAGE_VAR_SONARR_KEY: ${HOMEPAGE_VAR_SONARR_KEY}
      HOMEPAGE_VAR_RADARR_KEY: ${HOMEPAGE_VAR_RADARR_KEY}
      HOMEPAGE_VAR_READARR_KEY: ${HOMEPAGE_VAR_READARR_KEY}
      HOMEPAGE_VAR_PROWLARR_KEY: ${HOMEPAGE_VAR_PROWLARR_KEY}
      HOMEPAGE_VAR_BAZARR_KEY: ${HOMEPAGE_VAR_BAZARR_KEY}
      HOMEPAGE_VAR_SONARR_HOST: ${HOMEPAGE_VAR_SONARR_HOST}
      HOMEPAGE_VAR_RADARR_HOST: ${HOMEPAGE_VAR_RADARR_HOST}
      HOMEPAGE_VAR_READARR_HOST: ${HOMEPAGE_VAR_READARR_HOST}
      HOMEPAGE_VAR_PROWLARR_HOST: ${HOMEPAGE_VAR_PROWLARR_HOST}
      HOMEPAGE_VAR_BAZARR_HOST: ${HOMEPAGE_VAR_BAZARR_HOST}
      HOMEPAGE_VAR_PLEX_HOST: ${HOMEPAGE_VAR_PLEX_HOST}
      HOMEPAGE_VAR_OVERSEERR_HOST: ${HOMEPAGE_VAR_OVERSEERR_HOST}
      HOMEPAGE_VAR_PORTAINER_HOST: ${HOMEPAGE_VAR_PORTAINER_HOST}
      HOMEPAGE_VAR_QBITTORRENT_HOST: ${HOMEPAGE_VAR_QBITTORRENT_HOST}
      HOMEPAGE_VAR_BITMAGNET_HOST: ${HOMEPAGE_VAR_BITMAGNET_HOST}
