---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/services

- Media Management:
    - Player:
        - Jellyseerr:
            icon: jellyseerr.png
            href: &jellyseerr {{HOMEPAGE_VAR_JELLYSEERR_HOST}}
            description: Serviço de solicitação de mídia
        - Plex:
            icon: plex.png
            href: &plex {{HOMEPAGE_VAR_PLEX_HOST}}
            description: Serviço de streaming de mídia local
        - Seanime:
            icon: https://github.com/5rahim/seanime/blob/main/docs/images/logo.png?raw=true
            href: &seanime {{HOMEPAGE_VAR_SEANIME_HOST}}
            description: Serviço de streaming de animes e mangas
        - Tautulli:
            icon: tautulli.png
            href: &tautulli {{HOMEPAGE_VAR_TAUTULLI_HOST}}
            description: Serviço de acompanhamento de mídia (o que foi visto, etc)

    - Finder:
        - Sonarr:
            icon: sonarr.png
            href: &sonarr {{HOMEPAGE_VAR_SONARR_HOST}}
            description: Serviço de busca de séries
        - Radarr:
            icon: radarr.png
            href: &radarr {{HOMEPAGE_VAR_RADARR_HOST}}
            description: Serviço de busca de filmes

    - Configuration:
        - Prowlarr:
            icon: prowlarr.png
            href: &prowlarr {{HOMEPAGE_VAR_PROWLARR_HOST}}
            description: Serviço de busca de indexadores torrent e nzb
        - Bazarr:
            icon: bazarr.png
            href: &bazarr {{HOMEPAGE_VAR_BAZARR_HOST}}
            description: Serviço de busca de legendas

- Downloader Client:
    - qBittorrent:
        icon: qbittorrent.png
        href: &qbittorrent {{HOMEPAGE_VAR_QBITTORRENT_HOST}}
        description: Serviço de download e gerenciamento de conteúdos torrent
        server: docker
        container: qbittorrent

- Others:
    - Technitium DNS:
        icon: technitium.png
        href: &technitium {{HOMEPAGE_VAR_TECHNITIUM_HOST}}
        description: DNS UI
